<launch>
  <arg name="image_topic" default="/camera/image_raw" />
  <arg name="camera_fov_deg" default="60.0" />

  <node pkg="vlm_clip"
        type="clip_node.py"
        name="vlm_clip"
        output="screen">
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="camera_fov_deg" value="$(arg camera_fov_deg)" />
    <param name="n_bins" value="7" />
    <param name="min_confidence" value="0.5" />
    <param name="device" value="cpu" />
    <param name="model_name" value="ViT-B/32" />
  </node>
</launch>