<launch>
  <arg name="camera_fov_deg"     default="60.0" />
  <arg name="vlm_device"         default="cpu" />
  <arg name="vlm_min_confidence" default="0.8" />

  <!-- Sim Robot Bringup -->
  <include file="$(find amigo_sim)/amigo_sim.launch">
  </include>

  <!-- Camera -->
  <include file="$(find picam_forwarder)/launch/local_cam.launch">
    <arg name="image_topic" value="/camera/image_raw" />
    <arg name="frame_id"    value="camera_link" />
  </include>

  <!-- VLM -->
  <include file="$(find vlm_clip)/launch/clip.launch">
    <arg name="image_topic"    value="/camera/image_raw" />
    <arg name="camera_fov_deg" value="$(arg camera_fov_deg)" />
    <arg name="n_bins"         value="7" />
    <arg name="min_confidence" value="$(arg vlm_min_confidence)" />
    <arg name="device"         value="$(arg vlm_device)" />
  </include>

  <!-- ROSA Agent -->
  <include file="$(find amigo_agent)/launch/rosa_agent.launch">
  </include>
</launch>
